<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.strength.myapplication1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.alarm.permission.SET_TIMER"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.strength.myapplication.SimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/simple_widget_info"/>
        </receiver>

        <activity
            android:name="com.strength.myapplication.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.strength.myapplication.EditorActivity"
            android:label="@string/title_activity_editor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:launchMode="singleTop"
                android:value="com.strength.myapplication.MainActivity"/>
        </activity>

        <activity
            android:name="com.strength.myapplication.SignIn"
            android:screenOrientation="portrait"
            android:label="@string/sign_in_header">
        </activity>

        <provider
            android:name="com.strength.myapplication.ExerciseProvider"
            android:authorities="com.strength.provider.exercises">
        </provider>

        <activity
            android:name="com.strength.myapplication.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:parentActivityName="com.strength.myapplication.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.strength.myapplication.MainActivity"/>
        </activity>
        <activity
            android:name="com.strength.myapplication.ReadActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>